/**
This is a theme for halo-plugin-vditor
Modified from vditor content_theme
 */
.vditor-reset .language-abc svg,
.vditor-reset .language-abc path {
    fill: currentColor;
    color: #d1d5da;
}

.language-graphviz polygon {
    fill: rgba(66, 133, 244, .36);
}
