.halo-render {
  margin: 5px;
}
.halo-render .btn {
  background-color: #3478CD;
  color: #ffffff;
  padding: 5px 8px;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  min-width: 80px;
  text-decoration: none;
}
.halo-render .error {
  text-align: center;
  color: #C31919;
}
.halo-render .invalid-type {
  color: red;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  background-color: lightpink;
  border-radius: 3px;
}
.halo-render .iconfont {
  font-family: iconfont, sans-serif;
  font-size: 16px;
}
.halo-render-wrapper {
  margin: 20px 15px;
}

.tips {
  position: relative;
  padding: 15px 15px;
  border-left-style: solid;
  border-left-width: 6px;
  border-radius: 3px;
  border-left-color: #818181;
  background-color: #F4F4F4;
}
.tips.tips:after {
  font-family: "iconfont", serif !important;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 50%;
  color: #F4F4F4;
  background-color: #818181;
  display: block;
  position: absolute;
  left: calc(-10px - 6px / 2);
  top: 4px;
  content: "\e77e";
}
.tips.tips-warn {
  background-color: #FFFAED;
  color: #FF8C00;
  border-left-color: #FF8C00;
}
.tips.tips-warn.tips.tips-warn:after {
  color: #FFFAED;
  background-color: #FF8C00;
  content: "\e671";
}
.tips.tips-danger {
  background-color: #FFEDED;
  color: #C31919;
  border-left-color: #C31919;
}
.tips.tips-danger.tips.tips-danger:after {
  background-color: #C31919;
  color: #FFEDED;
  content: "\e671";
}
.tips.tips-success {
  background-color: #F2FFED;
  color: #05B800;
  border-left-color: #05B800;
}
.tips.tips-success.tips.tips-success:after {
  background-color: #05B800;
  color: #F2FFED;
}
.tips.tips-info {
  background-color: #F1F7FF;
  color: #3478CD;
  border-left-color: #3478CD;
}
.tips.tips-info.tips.tips-info:after {
  color: #F1F7FF;
  background-color: #3478CD;
}

.git {
  display: flex;
  gap: 10px;
  border: 1px solid #ececec;
  padding: 10px;
  border-radius: 3px;
}
.git .information {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.git .information .info {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.git .information .info .topics {
  position: relative;
  display: flex;
  gap: 5px;
  color: #ffffff;
  font-size: 12px;
  max-width: 30%;
  overflow: hidden;
  transition: max-width 0.2s;
  cursor: pointer;
}
.git .information .info .topics:after {
  position: absolute;
  display: block;
  width: 20px;
  height: 30px;
  right: 0;
  background: linear-gradient(to right, transparent, #ffffff);
  content: '';
  transition: width 0.2s;
}
.git .information .info .topics:hover:after {
  width: 0;
}
.git .information .info .topics:hover {
  max-width: 70%;
}
.git .information .info .topics .topic {
  background-color: #3478CD;
  padding: 3px 5px;
  border-radius: 3px;
  white-space: nowrap;
}
.git .information .info .language {
  display: flex;
  align-items: center;
  gap: 5px;
}
.git .information .info .language .dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
.git .information .info .count {
  display: flex;
  align-items: center;
  gap: 10px;
}
.git .information .info .count .count-item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.git .information .info .count .icon {
  font-size: 18px;
  color: #818181;
}
.git .information .description {
  font-size: 14px;
}
.git .information .info {
  font-size: 14px;
  color: #999999;
}
.git .error {
  color: darkred;
  text-align: center;
}
.git .repo-name a {
  font-size: 18px;
  color: #3478CD;
  text-decoration: none;
}
.git .icon {
  font-family: "iconfont", serif;
  font-size: 24px;
  color: #333333;
}

.drive {
  border: 1px solid #F4F4F4;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}
.drive .drive-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.drive .drive-info .platform {
  display: flex;
  align-items: center;
}
.drive .drive-info .platform .drive-icon {
  width: 25px;
}
.drive .drive-info .platform span {
  font-size: 16px;
  margin-left: 3px;
  color: #3478CD;
}
.drive .download-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.drive .download-info .drive-password {
  color: #818181;
  font-size: 12px;
  margin-top: 5px;
}

